# ROS 2 build artifacts
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.eggs/

# VS Code
.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore


# Colcon
.colcon_install_layout
COLCON_IGNORE

# Gazebo / simulation artifacts
*.model.backup
*.world.backup

# ROS bag files
*.bag
*.db3
*.mcap
